/* ===== Settings page form ===== */
.form-group {
  position: relative;
  margin-bottom: 20px;
  input,
  textarea {
    position: relative;
    z-index: 2;
    padding: 5px 15px;
  }
  .form-control {
    width: 100%;
  }
  .form-control-label {
    font-size: 18px;
    font-weight: 600;
  }
}
