/* ===== Variables ===== */

/* ===== Colors ===== */
$c-text-primary: #282a32;
$c-text-secondary: #b3b5c6;
$c-text-action: #404089;
$c-accent-primary: #434ce8;
$c-border-primary: #eff1f6;
$c-background-primary: #ffffff;
$c-background-secondary: #fdfcff;
$c-background-tertiary: #ecf3fe;
$c-background-quaternary: #e9ecf4;
