#fsms_newsletter {
    width: 197px;
    direction: rtl;
}

.fsms_newsletter_text {
    padding: 7px;
}

.fsms_newsletter_input {
    margin-bottom: 5px;
}

.fsms_newsletter_button {
    width: 100%;
    padding: 7px;
    background-color: #2c3e50;
    border: none;
    color: #fff;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    position: relative;
}


#fsms_newsletter_submit_button:hover {
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%) !important;
}

.fsms_button--loading::after {
    display: block;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: fsms-button-loading-spinner 1s ease infinite;
}

@keyframes fsms-button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.fsms_button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

#fsms_newsletter_form .error {
    border: 1px solid #c0392b !important;
}

.fsms_newsletter_button {
    margin-bottom: 5px;
}

#fsms_newsletter_message.error {
    padding: 8px;
    border: 2px solid #c0392b !important;
    margin-bottom: 7px;
    color: black;
    background-color: #fce4e4;
}
#fsms_newsletter_message.success {
    padding: 8px;
    border: 1px solid #617c42;
    margin-bottom: 7px;
    color: black;
    background-color: #ecffd6;
}