@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('IRANSansWeb.woff') format('woff');
}
.wrapper {
    font-family: IRANSans;
    font-weight: 300;
    max-width: 59.85rem;
    width: 100%;
    margin: 0 auto;
    height: 120rem;
}
.fsms_header {
    margin-top: 1.3rem;
}
.tabs {
    position: relative;
    margin: 3rem 0;
    background: #1abc9c;
    margin-top: 0.8rem;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: right;
}
.tab-switch {
    display: none !important;
}
.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.4689em;
    background: #1abc9c;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
    font-size: 11px;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
.tab-content {
    width: -webkit-fill-available;
    position: absolute;
    z-index: 1;
    top: 2.63em;
    right: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0;
}
.tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

.fsms_save_button_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.fsms_button {
    background-color: #2c3e50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    font-family: inherit;
}
.fsms_button:hover {
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%) !important;
}

.fsms_button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: fsms-button-loading-spinner 1s ease infinite;
}

.fsms_button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

@keyframes fsms-button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
button.delete_subscriber.fsms_button {
    padding: 7px 16px;
}

.fsms_form input.error {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
}

.fsms_form label.error {
    color: #cc0033;
    margin: 0 10px;
    display: inline-block;
    width: fit-content;
}

.fsms-error-message {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    padding: 0px 8px;
    height: 54px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.fsms-success-message {
    color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
    padding: 0px 8px;
    height: 54px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.fsms-warning-message {
    color: #756e15;
    background: #fffbd1;
    border: 1px solid #87803e;
    padding: 0px 8px;
}

.fsms-info-message {
    color: #204a8e;
    background: #c9ddff;
    border: 1px solid #4c699b;
    padding: 0px 8px;
}

.enter-credentials {
    text-align: center;
    padding: 20px;
    margin: auto;
}
.comment_pattern_info {
    padding: 12px;
    margin-bottom: 25px;
}

#send_message_to_subscribers_response {
    height: 54px;
}

.fsms_header {
    display: flex;
    justify-content: space-between;
}
#fsms_account_info {
    width: 215px;
    background-color: #ffffff;
    padding: 0px 5px;
    color: black;
    border-right: 3px solid #1abc9c;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}
.fsms_credits {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 7px;
}
.fssm_happy_amount {
    width: 20%;
    border-left: 1px solid #d7d7d7;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.fsms_emoji img {
    width: 36px;
}
.fsms_emoji {
    position: relative;
}
.fsms_emoji img:hover + div {
    display: block;
    top: 1px;
    left: 55px;
}
.tooltipe {
    padding: 10px;
    position: absolute;
    width: auto;
    white-space: nowrap;
    word-wrap: no-wrap;
    box-shadow: 1px 1px 20px #aaa;
    border-radius: 5px;
    background-color: #fff;
    top: 40px;
    left: 50%;
    transform-style: preserve-3d;
    z-index: 200;
    font-size: 0.9em;
    display: none;
}
.tooltipe:after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #fff;
    left: 0;
    top: -1px;
    z-index: 400;
}
.tooltipe:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%) translateZ(-1px);
    background-color: #fff;
    left: 0;
    top: 0px;
    z-index: -1;
    box-shadow: -1px -1px 20px #aaa;
}
.tooltipe__src:after {
    top: auto;
    bottom: 10px;
}
.tooltipe__src:before {
    top: auto;
    bottom: 9px;
}

.fsms_form_element {
    margin-bottom: 35px;
}



.form-style-2{
    padding: 20px 12px 10px 20px;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label span.label{
    width: 250px;
    font-weight: bold;
    float: right;
    padding-top: 13px;
    padding-left: 5px;
    position: relative;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
    width: 27%;
}
.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus{
    border: 1px solid #1abc9c;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}


.icon {
    height: 24px;
    width: 24px;
    position: relative;
    cursor: pointer;
}
.icon svg {
    transition: 0.3s ease;
}
.icon:hover .tooltip {
    display: block;
}
.icon__danger:hover svg {
    fill: #D30423;
}
.icon__src:hover svg {
    fill: #0641AD;
}
.icon__cow:hover svg {
    fill: #BC6C62;
}

.tooltip {
    padding: 10px;
    position: absolute;
    width: auto;
    white-space: nowrap;
    word-wrap: no-wrap;
    box-shadow: 1px 1px 20px #aaa;
    border-radius: 5px;
    background-color: #fff;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    transform-style: preserve-3d;
    z-index: 200;
    font-size: 0.9em;
    display: none;
}
.tooltip:after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #fff;
    left: 50%;
    top: -1px;
    z-index: 400;
}
.tooltip:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%) translateZ(-1px);
    background-color: #fff;
    left: 50%;
    top: 0px;
    z-index: -1;
    box-shadow: -1px -1px 20px #aaa;
}
.tooltip__dang {
    color: #D30423;
    box-shadow: 1px 1px 20px rgba(211, 4, 35, 0.3);
}
.tooltip__src {
    color: #0641AD;
    box-shadow: 1px 1px 20px rgba(6, 65, 173, 0.3);
    top: -50px;
}
.tooltip__src:after {
    top: auto;
    bottom: -8px;
}
.tooltip__src:before {
    top: auto;
    bottom: -8px;
}
.tooltip__cow {
    color: #BC6C62;
    box-shadow: 1px 1px 20px rgba(188, 108, 98, 0.3);
}

.fsms_form_element label {
    width: 203px !important;
    display: inline-block;
}
.fsms_form_element select {
    min-width: 70%;
}

.fsms-sync-buttons {
    text-align: center;
    padding: 20px;
}
.fsms-sync-buttons div button {
    width: 40%;
}

.fsms-sync-buttons div {
    margin: 15px 0;
}

#send_message_to_phonebooks {
    border: 0.1rem solid #bdc3c7;
    margin-bottom: 15px;
    padding: 10px;
}
#send_message_to_phonebooks h3 {
    font-family: inherit;
}


#fsms-send-message-response-message {
    margin: 15px 0;
}
#fsms_to_phonebooks_message.error {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
}

#fsms_pos_link {
    display: flex;
    justify-content: center;
    align-content: center;
}

#fsms_pos_link a {
    display: block;
}

#fsms_pos_link a:hover,#fsms_pos_link a:focus {
    color: white;
}

.fsms_form_element_gf label {
    width: 202px;
    display: inline-block;
    position: relative;
}

.fsms_form_element_gf select {
    width: 259px;
}

.fsms_form_element_gf {
    margin-bottom: 25px;
}

.toggle-control {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.toggle-control input:checked ~ .control {
    background-color: #1abc9c;
}
.toggle-control input:checked ~ .control:after {
    left: 2px;
}
.toggle-control .control {
    position: absolute;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    background-color: darkgray;
    transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 22px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: white;
    transition: left 0.15s ease-in;
}

#farazsms_copyright {
    padding-top: 12px;
    text-align: center;
    width: 100%;
    border-top: 1px solid;
}
.warning_phonebook {
    margin-bottom: 30px;
}

#newsletter_container {
    display: inline-block;
}



.container-table100{
    background:-o-linear-gradient(45deg,#4158d0,#c850c0);
    background:-moz-linear-gradient(45deg,#4158d0,#c850c0);
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding-bottom: 40px;
}
.wrap-table100{
    width: 716px;
    max-height: 263px;
    direction: rtl;
    overflow-y: auto;
}
table{
    border-collapse:collapse;
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    width:100%;
    margin:0 auto;
    position:relative
}
table *{
    position:relative
}
table td,table th{
    padding-right: 8px;
}
table thead tr{
    height:60px;
    background:#36304a
}
table tbody tr{
    height:50px
}
table tbody tr:last-child{
    border:0
}
table td,table th{
    text-align: right;
}
table td.l,table th.l{
    text-align:right
}
table td.c,table th.c{
    text-align:center
}
table td.r,table th.r{
    text-align:center
}
.table100-head th{
    font-size:18px;
    color:#fff;
    line-height:1.2;
    font-weight:unset
}
tbody tr:nth-child(even){
    background-color:#f5f5f5
}
tbody tr{
    font-size:15px;
    color:gray;
    line-height:1.2;
    font-weight:unset
}
tbody tr:hover{
    color:#555;
    background-color:#f5f5f5;
    cursor:pointer
}
.column1{
    width:175px;
    padding-right: 40px;
}
.column2{
    width:160px
}
.column3{
    width:180px
}
.column4{
    width:175px;
    text-align: center;
}
.column5{
    width:170px;
    text-align:right
}
.column6{
    width:222px;
    text-align:right;
    padding-right:62px
}
@media screen and (max-width:992px){
    table{
        display:block
    }
    table>*,table tr,table td,table th{
        display:block
    }
    table thead{
        display:none
    }
    table tbody tr{
        height:auto;
        padding:37px 0
    }
    table tbody tr td{
        padding-left:40%!important;
        margin-bottom:24px
    }
    table tbody tr td:last-child{
        margin-bottom:0
    }
    table tbody tr td:before{
        font-size:14px;
        color:#999;
        line-height:1.2;
        font-weight:unset;
        position:absolute;
        width:40%;
        left:30px;
        top:0
    }
    table tbody tr td:nth-child(1):before{
        content:"Date"
    }
    table tbody tr td:nth-child(2):before{
        content:"Order ID"
    }
    table tbody tr td:nth-child(3):before{
        content:"Name"
    }
    table tbody tr td:nth-child(4):before{
        content:"Price"
    }
    table tbody tr td:nth-child(5):before{
        content:"Quantity"
    }
    table tbody tr td:nth-child(6):before{
        content:"Total"
    }
    .column4,.column5,.column6{
        text-align:left
    }
    .column4,.column5,.column6,.column1,.column2,.column3{
        width:100%
    }
    tbody tr{
        font-size:14px
    }
}
@media(max-width:576px){
    .container-table100{
        padding-left:15px;
        padding-right:15px
    }
}

#fsms_others_settings_save_form h3,#fsms_others_settings_save_form h4 {
    font-family: inherit;
}

#fsms_woo_retention_container {
    display: flex;
}
.form-style-2 h3 {
    font-family: inherit;
}

#fsms_feedback_message.error {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
}

#fsms_feedback_message-error.error {
    display: none !important;
}