@import "~bootstrap/scss/bootstrap";
@import "./styles/header.scss";
@import "./styles/flash-messages.scss";
@import "./styles/variables.scss";
@import "./styles/sidebar.scss";
@import "./styles/settings.scss";
@import "./styles/live-validate-message.scss";

#farazsms-app-php {
  height: 100vh;
  background: #fff;
  .app-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
  }
}
